
button {
    color: aqua;
    background-color: yellow;
    size: 100px;
    font-size: 30px;
    padding: 2px;
    margin: 50px;
    border-radius: 20%;
}
button span {
    position: absolute;
    left: -999px;
}

button.boton#boton1 {
    background-color: eaf2d7;
    color: 493657;
}

button#boton1 {
    background-color: aqua;
    color: black;
}

button.boton#boton1:hover {
    background-color: green;
    color: white;
}

button.boton#boton1::before{
    content: "¡Hecho!";
    display: inline-block;
}
